    #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
* {
  font-family: "Open Sans", sans-serif ;
  -webkit-font-smoothing: antialiased;
}

.owl-theme .owl-controls .owl-page span {
display: block;
width: 12px;
height: 12px;
margin: 5px 7px;
filter: Alpha(Opacity=50);
opacity: 0.5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: #869791;
}

section.quiz {
  padding: 0;
  background: white;
  box-shadow: 0 1px 10px 1px rgba(58,58,58,.3)
}

.owl-controls.clickable {
  position: absolute;
  top: -15px;
  width: 100%;
  height: 100%;
}

.owl-theme .owl-controls .owl-buttons div {
color: #FFF;
display: inline-block;
zoom: 1;
margin: 5px;
padding: 3px 10px;
font-size: 16px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background: #869791;
filter: Alpha(Opacity=50);
opacity: 0.5;
width: 100px;
position: static;
}

.owl-buttons {
  height: 100%;
}

.owl-pagination {
    position: static;
}

.aqua.main-question {
    background: rgb(05,219,194) !important;
    color: white;
    padding: 15px;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    opacity: 1;

}


h3.risk {
  color: white;
    padding: 15px;
    font-size: 1.8em;
    font-weight: 500;
    background: #f23e47;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
}

h3.risk > span {
  margin-left: 10px;
  -webkit-font-smoothing: antialiased;
}

.sub-question {
  padding: 10px;
  margin: 0 auto;
max-width: 700px;

}

.sub-question h3 {
  font-size: 1.3em;
    font-weight: 500;
}

ul.responses {
  width: 100%;
  margin-bottom: 0;
/*border: 1px solid #ccc; */
border-radius: 3px;
padding: 0;
}

ul.responses.q1 {
  max-width: 500px;
}
ul.responses li {
  display: inline-block;
/*border-right: 1px solid #ccc; */
padding: 10px;
text-align: center;
background: #fafafa;
border-radius: 3px;
font-weight: 500;
-webkit-font-smoothing: initial;
}

ul.responses li.last {
  border-right: none;
}

ul.responses li.selected {
  
  background: #1ebebc;
  color: white;
}


.substance h4{
  font-weight: 500;
}

.middle-max {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}


  .dmbutton {
    border: 3px solid rgb(210, 221, 40) !important;
    background: transparent;
    color:rgb(210, 221, 40);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-top: 1.025rem;
    padding-right: 2.25rem;
    letter-spacing:0.85px;
    padding-bottom: 1.0875rem;
    padding-left: 2.25rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    font-weight: normal !important;
  }

  .dmbutton2:hover,
  .dmbutton2:active,
  .dmbutton2:focus{
    color: #FFF;
    background: rgb(210, 221, 40) !important;
    background-color:rgb(210, 221, 40) !important;
    border-color: #2B2E31;
  }
    .dmbutton:hover,
  .dmbutton:active,
  .dmbutton:focus{
    color: #FFF;
    background: rgb(210, 221, 40) !important;
    background-color:rgb(210, 221, 40) !important;
    border-color: #2B2E31;
  }

  .level {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: .7em;
    font-weight: 500;
    margin: 10px;
    -webkit-font-smoothing: initial;
  }

  .ratio {
    margin-left: 10px;
    font-size: .8em;
    font-weight: bolder;
    -webkit-font-smoothing: initial;
  }

  .level.high {
    background: #f23e47 !important;
  }

  .level.moderate {
    background: rgb(210, 221, 40) !important;
  }

  .level.low {
    
    background: rgb(05,219,194);
  }

  h3.rec {
    font-size: 1em;
  }

  h4.rec.test {
    color: #f23e47;
  }
  h4.rec > span {
    margin-left: 10px;
  }

  h3.rec.high {
    color: #f23e47;
  }

  h3.rec.moderate {
    color: rgb(210, 221, 40);
  }

  h3.rec.low {
    color: rgb(05,219,194);
  }

  .plan {
    text-align: center;
  }

  .owl-prev {
    float: left;
    height: 100%;
    margin-left: 0 !important;
    border-radius: 0;
    padding: 80px 0 !important;

  }

  .owl-next {
    float: right;
    height: 100%;
    margin-right: 0 !important;
    border-radius: 0;
    padding: 80px 0 !important;
    z-index: 10;
  }


.modal-owl-next {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(134, 151, 145);
  background-image: none;
  background-origin: padding-box;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  bottom: 35px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 23px;
  line-height: 17px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  opacity: 0.5;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  width: 100px;
  z-index: 0;
  zoom: 1;
}  
.btn-group{
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  display: block;
  width: 435px;
}

/*.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  top: -15px;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}*/

.question-title-block {
  padding: 0 100px;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  margin-bottom: 30px
}